.detail-btm{
    width: 150px;
    padding: 7px;
    gap: 10px;
    /* margin: 0 10px; */
    border-radius: 10px;
    font-weight: bold;
    border: 0px solid rgb(1, 33, 59);
    background: rgb(248, 204, 212) ;
    background: -moz-linear-gradient(left, rgb(248, 204, 212) 0%, hotpink 100%);
    background: -webkit-linear-gradient(left, rgb(248, 204, 212) 0%, hotpink 100%);
    background: linear-gradient(to right, rgb(248, 204, 212) 0%, hotpink 100%);
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
.booking1 button{
    width: 150px;
    padding: 7px;
    /* margin: 0 10px; */
    border-radius: 10px;
    font-weight: bold;
    border: 0px solid rgb(1, 33, 59);
    background: hotpink ;
    background: -moz-linear-gradient(left, hotpink 0%, rgb(248, 204, 212) 100%);
    background: -webkit-linear-gradient(left, hotpink 0%, rgb(248, 204, 212) 100%);
    background: linear-gradient(to right, hotpink 0%, rgb(248, 204, 212) 100%);
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}