.text-mute{
    padding: 15px 10px 10px;
    text-align: center;
    margin: 110px 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: hotpink ;
    background: -moz-linear-gradient(left, hotpink 0%, rgb(248, 204, 212) 100%);
    background: -webkit-linear-gradient(left, hotpink 0%, rgb(248, 204, 212) 100%);
    background: linear-gradient(to right, hotpink 0%, rgb(248, 204, 212) 100%);
    color: #fff;
}
.text-mute1{
    padding: 15px 10px 10px;
    text-align: center;
    margin: 110px 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: rgb(248, 204, 212) ;
    background: -moz-linear-gradient(left, rgb(248, 204, 212) 0%, hotpink 100%);
    background: -webkit-linear-gradient(left, rgb(248, 204, 212) 0%, hotpink 100%);
    background: linear-gradient(to right, rgb(248, 204, 212) 0%, hotpink 100%);
    color: #fff ;
}
.text-mute2{
    padding: 15px 10px 10px;
    text-align: center;
    margin: 110px 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: hotpink ;
    background: -moz-linear-gradient(left, hotpink 0%, rgb(248, 204, 212) 100%);
    background: -webkit-linear-gradient(left, hotpink 0%, rgb(248, 204, 212) 100%);
    background: linear-gradient(to right, hotpink 0%, rgb(248, 204, 212) 100%);
    color: #fff;
}
.text-mute3{
    padding: 15px 10px 10px;
    text-align: center;
    margin: 110px 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: rgb(248, 204, 212) ;
    background: -moz-linear-gradient(left, rgb(248, 204, 212) 0%, hotpink 100%);
    background: -webkit-linear-gradient(left, rgb(248, 204, 212) 0%, hotpink 100%);
    background: linear-gradient(to right, rgb(248, 204, 212) 0%, hotpink 100%);
    color: #fff;
}
@media only screen and (max-width:600px){
    .text-mute1{
        display: none;
    }
    .text-mute2{
        display: none;
    }
}