/* --------------------------------------------input---------------------------------- */
.opinion input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical ;
  }
  
  /* Style the submit button with a specific background color etc */
  .opinion input[type=submit] {
    background-color: hotpink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .opinion input[type=submit]:hover {
    background-color: rgb(199, 4, 101);
  }
  
  /* Add a background color and some padding around the form */
  .contai {
    border-radius: 5px;
    background-color: rgb(250, 217, 222);
    padding: 20px;
  }